{% set assetPath = getEnv('ASSET_URL') %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no shrink-to-fit=no">
    <meta http-equiv="content-Type" content="text/html; utf-8"/>
    <meta http-equiv="Pragma" content="cache"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta http-equiv="content-Language" content="{{ getEnv('LANG') }}"/>
    <meta name="description" content="{{ getEnv('DESCRIPTION') }}"/>
    <meta name="keywords" content="{{ getEnv('KEYWORDS') }}"/>
    <meta name="author" content="{{ getEnv('AUTHOR') }}"/>
    <meta name="publisher" content="{{ getEnv('PUBLISHER') }}"/>
    <meta name="copyright" content="{{ getEnv('COPYRIGHT') }}"/>
    <meta name="audience" content="All"/>
    <meta name="page-type" content="Community"/>
    <meta name="page-topic" content="Community"/>
    <meta http-equiv="Reply-to" content="{{ getEnv('EMAIL') }}"/>
    <meta name="expires" content=""/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="theme-color" content="{{ getEnv('THEME_COLOR') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ assetPath }}manifest/icons/icon-48x48.png">
    <link rel="shortcut icon" type="image/x-icon" href="{{ assetPath }}manifest/icons/icon-48x48.png">

    <title>{{ entry.title }} | {{ getEnv('TITLE') }}</title>

    <!-- css -->
    <link href="{{ getEnv('ASSET_URL') ~ 'js/style.css' }}" rel="stylesheet">

    {# use bootstrap css? #}
    {% if config.useBootstrap %}
        <link href="{{ getEnv('ASSET_URL') ~ 'vendor/bootstrap/css/bootstrap.min.css' }}" rel="stylesheet">
    {% endif %}

    <!-- Manifest -->
    <link rel="manifest" href="{{ assetPath }}manifest/manifest.webmanifest?v={{ getVersion('manifest') }}">
    <link rel="apple-touch-icon" href="{{ assetPath }}manifest/icons/icon-512x512.png?v={{ getVersion('manifest') }}"/>
    <link rel="shortcut icon" href="{{ assetPath }}manifest/icons/icon-512x512.png?v={{ getVersion('manifest') }}" type="image/webp"/>
    <link rel="shortcut icon" href="{{ assetPath }}manifest/icons/icon-48x48.png?v={{ getVersion('manifest') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ assetPath }}manifest/icons/icon-48x48.png?v={{ getVersion('manifest') }}" type="image/png"/>

</head>
<body>
<!-- ***** Header Area Start ***** -->
{% include 'layout/_partials/header.twig' %}
<!-- ***** Header Area End ***** -->

<!-- ***** Preloader Start ***** -->
{% include 'layout/_partials/hero.twig' %}
<!-- ***** Preloader End ***** -->

<div id="page-content" class="page-content">
    {% block content %}
        <!-- content here will be overwritten -->
    {% endblock %}
</div>

<a id="hidden-click-element"
   class="click"
   href="index"
   data-page="index" hidden>hidden click element</a>

<!-- ***** Footer Area Start ***** -->
{% include 'layout/_partials/footer.twig' %}
<!-- ***** Footer Area End ***** -->

<script>
    window.Site = {{ getSiteBundleVariables()|raw }}
</script>

{% if not config.useViteDev %}
    <script type="text/javascript" src="{{ getEnv('ASSET_URL') ~ 'js/site.umd.cjs' }}"></script>
{% else %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.ts"></script>
    <script type="module" src="http://localhost:5173/@vite-plugin-checker-runtime-entry"></script>
{% endif %}

{# use bootstrap js? #}
{% if config.useBootstrap %}
    <script type="text/javascript" src="{{ getEnv('ASSET_URL') ~ 'vendor/bootstrap/js/bootstrap.min.js' }}"></script>
{% endif %}


</body>
</html>
